@import url(https://fonts.googleapis.com/css?family=Raleway:200,400,600);

$brand-color: #FF404E;
$accent-color: #1CA5B8;
$bland-color: #7BAEB8;
$bland-background: #DAECF3;
$accent-background: #1CA5B8;
$light-text: #DAECF3;
$dark-text: #012D41;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 500ms ease;
}
body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
}
#everything {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}
.open {
  color: white;
  width: 100%;
  background-image: url('images/Storm-Clouds.jpg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem;
}
.closed {
  overflow: hidden;
  width: 0;
  height: 0;
}
.current-conditions {
  filter: drop-shadow(.5rem .5rem .7rem black);
  background: rgba(0, 0, 0, .25);
  padding: 1rem;
}
h6 {
  font-size: 1rem;
  font-weight: 200;
}
h2 {
  font-size: 10rem;
  font-weight: 600;
}
h4 {
  font-size: 1.5rem;
  font-weight: 400;
}
h4 strong {
  font-size: 3rem;
}
h3 {
  font-size: 3rem;
  font-weight: 400;
}
// .blur {
//   -webkit-filter: blur(25px);
//   -moz-filter: blur(25px);
//   -o-filter: blur(25px);
//   -ms-filter: blur(25px);
//   filter: blur(25px);
// }
.current-icon {
  background: rgba(0, 0, 0, .25);
  padding: 1rem;
  width: 15rem;
  height: 15rem;
  filter: drop-shadow(.5rem .5rem .7rem black);
  overflow: hidden;
}
.current-icon img {
  width: 215rem;
}
aside {
  color: $dark-text;
  height: 100vh;
  background: $bland-background;
  overflow-y: scroll;
}
svg {
  margin: -.5rem;
}
.full {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.full section {
  overflow: hidden;
  height: 0;
  width: 0;
}
.full>div {
  display: none;
}
.side {
  width: 40rem;
  padding: 1rem;
}
aside.narrow {
  width: 6rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.narrow header,
.narrow .ten-day,
.narrow .seven-hour h4 {
  display: none;
}
.hamburger-button {
  float: left;
  padding: .25rem;
  margin: -.5rem 0 0 -.5rem;
}
.hamburger-button img {
  width: 1.5rem;
}
.narrow .hamburger-button {
  float: none;
  padding: 0;
  margin: .5rem auto;
}
header {
  width: 100%;
  text-align: center;
  margin: 1rem 0;
  padding: 1rem 0;
  border-bottom: 1px solid $brand-color;
}
h1 {
  font-size: 3.5rem;
  font-weight: 200;
  color: $brand-color;
  padding: 1rem 0;
}
input {
  width: 15rem;
  height: 3rem;
  padding: 1rem;
  font-size: 1.25rem;
}
input::placeholder {
  text-align: center;
  font-size: 1rem;
}
button {
  width: 3rem;
  height: 3rem;
  text-align: center;
  font-size: 1.25rem;
}
.suggest-wrapper {
  position: relative;
}
.suggestions {
  width: 100%;
  margin: .25rem;
  position: absolute;
  background: $accent-background;
  box-shadow: 5px 5px 5px black;
}
.suggestions h4 {
  padding: .25rem;
  font-weight: 600;
  cursor: pointer;
  color: #ffffff;
  &:hover {
    color: $brand-color;
    background: $bland-background;
  }
  &:focus {
    color: $brand-color;
    background: $bland-background;
  }
}
.narrow .seven-hour {
  padding: .5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.hourly {
  padding: 1rem 0;
  border-bottom: 1px solid $brand-color;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.narrow .hourly {
  padding: 1rem 0;
  border-bottom: 0;
  align-items: center;
  justify-content: center;
}
.narrow .hour {
  padding: .5rem 0;
}
.hour p {
  font-size: 1rem;
  text-align: center;
  padding: 0;
  margin: 0;
}
.wrapper {
  width: 2.5rem;
  padding: 0;
  margin: 0;
}
.ten-day {
  padding: 1rem 0;
}
.day {
  padding: 1rem .5rem 1rem 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.day p {
  display: inline-block;
  width: auto;
}
.day .wrapper {
  display: inline-block;
}
p.day-name {
  width: 7rem;
}
@media (max-width: 1000px) {
  .open {
    flex-direction: column;
  }
}
@media (max-width: 700px) {
  body {
    font-size: 1em;
  }
  #everything {
    flex-direction: column;
  }
  .open {
    flex-direction: row;
    width: 100vw;
    height: 40vh;
  }
  .hamburger-button {
    display: none;
  }
  .side,
  .narrow,
  .wide {
    width: 100vw;
    min-height: 60vh;
  }
}
@media (max-width: 400px) {
  body {
    font-size: .8rem;
  }
}
