@import url(https://fonts.googleapis.com/css?family=Raleway:200,400,600);

$brand-color: #FF404E;
$accent-color: #1CA5B8;
$bland-color: #7BAEB8;
$bland-background: #DAECF3;
$accent-background: #1CA5B8;
$light-text: #DAECF3;
$dark-text: #012D41;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // transition: all 500ms ease;
}
body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
}
#everything {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}
main {
  color: white;
  width: 100%;
  background-image: url('images/Storm-Clouds.jpg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem;
}
.current-conditions {
  filter: drop-shadow(.5rem .5rem .7rem black);
}
h6 {
  font-size: 1rem;
  font-weight: 200;
}
h2 {
  font-size: 10rem;
  font-weight: 600;
}
h4 {
  font-size: 1.5rem;
  font-weight: 400;
}
h4 strong {
  font-size: 3rem;
}
h3 {
  font-size: 3rem;
  font-weight: 400;
}
.current-icon {
  width: 15rem;
  height: 15rem;
  filter: drop-shadow(.5rem .5rem .7rem black);
  overflow: hidden;
  img {
    width: 15rem;
  }
}
aside {
  color: $dark-text;
  width: 40rem;
  height: 100vh;
  background: $bland-background;
  padding: 1rem;
  overflow-y: scroll;
}
.hamburger-button {
  float: left;
  padding: .25rem;
  margin: -.5rem 0 0 -.5rem;
}
.hamburger-button img {
  width: 1.5rem;
}
header {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}
h1 {
  font-size: 3.5rem;
  font-weight: 200;
  color: $brand-color;
  padding: 1rem 0;
  border-bottom: 1px solid $brand-color;
}
.hourly {
  padding: 1rem 0;
  border-bottom: 1px solid $brand-color;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.hour p {
  font-size: 1rem;
  text-align: center;
  padding: 0;
  margin: 0;
}
.wrapper {
  width: 2.5rem;
  padding: 0;
  margin: 0;
}
.ten-day {
  padding: 1rem 0;
}
.day {
  padding: 1rem .5rem 1rem 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.day p {
  display: inline-block;
  width: auto;
}
.day .wrapper {
  display: inline-block;
}
.day-name {
  width: 10rem;
}
